.Control {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.Control p {
    text-align: center;
    width: 50px;
    margin: 0 auto;
}

.Control button {
    background-color: #AEEA00;
    display: block;
    font: inherit;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

.Control button:disabled{
    color: #aaa;
    background-color: #eee;
    border-color: #ddd;
}