.Control {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.Control p {
    color: #641111;
    text-align: center;
    margin: 0 auto;
}

.Control button {
    display: inline-block;
    font: inherit;    
    border: none;
    background-color: #F8FFF1;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    margin: 0 10px;
}

.Control button:disabled{
    color: #aaa;
    border-color: #ddd;
}

.Selection {
    display: flex;
}

.PriceTag {
    font-size: 0.8em;
}

.Label {
    font-weight: 700;
}