.SelectionControls {
    width: 50%;
    display: flex;
    flex-flow: column;
    /* align-items: center; */
    margin: 0 auto;
    padding: 2em 0;
    text-align: left;
}

.TotalPrice {
    color: #FF9300;
    line-height: 1em;
    text-align: left;
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 0;
}

.SelectionContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1em;
    margin: 2em auto;
    /* background-color: red; */
}