.Summary {
    margin-bottom: 12px;
    z-index: 200;
}

.List {
    list-style-type: none;
    margin: 2em 0;
    padding: 0;
    text-transform: capitalize;
}

.List li{
    display: flex;
    align-items: center;
    justify-items: center;
    margin-bottom: 1em;
}

.IngredientName {
    font-weight: 500;
}

.Icon {
    width: 30px;
    margin-right: 1em;
}