.BreadBottom {
    width: 300px;
    height: 53px;
    background: url(../../../assets/burger-ingredients/breadBottom.svg);
    margin: 0 auto;
    position: relative;
}

.BreadTop {
    width: 300px;
    height: 110px;
    background: url(../../../assets/burger-ingredients/breadTop.svg);
    margin: -5px auto;
    position: relative;
}

.Lettuce {
    width: 300px;
    height: 30px;
    margin: -5px auto;
    background: url(../../../assets/burger-ingredients/lettuce.svg);
}

.Onion {
    width: 295px;
    height: 17px;
    background: url(../../../assets/burger-ingredients/onion.svg);
    margin: -5px auto;
}

.Pickle {
    width: 295px;
    height: 17px;
    background: url(../../../assets/burger-ingredients/pickle.svg);
    margin: -5px auto;
}

.Tomato {
    width: 295px;
    height: 17px;
    background: url(../../../assets/burger-ingredients/tomato.svg);
    margin: -5px auto;
}

.Egg {
    width: 300px;
    height: 28.5px;
    background: url(../../../assets/burger-ingredients/egg.svg);
    margin: -5px auto;
}

.Bacon {
    width: 300px;
    height: 30px;
    background: url(../../../assets/burger-ingredients/bacon.svg);
    margin: -5px auto;
}

.Cheese {
    width: 300px;
    height: 17px;
    margin: -5px auto;
    background: url(../../../assets/burger-ingredients/cheese.svg);
}

.Protein {
    width: 300px;
    height: 53px;
    background: url(../../../assets/burger-ingredients/protein.svg);
    margin: -5px auto;
}




