.BreadBottom {
    height: 71px;
    width: 400px;
    background: url(../../../assets/breadBottom.svg);
    margin: -10px auto;
}

.BreadTop {
    height: 157px;
    width: 400px;
    background: url(../../../assets/breadTop.svg);
    background-size: 400px 157px;
    margin: 0 auto;
    position: relative;
}

.Meat {
    width: 400px;
    height: 71px;
    background: url(../../../assets/meat.svg);
    margin: -10px auto;
}

.Cheese {
    width: 400px;
    height: 39px;
    margin: -10px auto;
    background: url(../../../assets/cheese.svg);
}

.Salad {
    width: 400px;
    height: 39px;
    margin: -10px auto;
    background: url(../../../assets/salad.svg);
}

.Bacon {
    width: 400px;
    height: 48px;
    background: url(../../../assets/bacon.svg);
    margin: -10px auto;
}
